/* section__09-get-in-touch-with-me-with-another-sections */

.section__09-get-in-touch-with-me-with-another-sections {
    max-height: 505px;
    padding: 130px 0 0 0;
    background-color: var(--section__09-get-in-touch-with-me-with-another-sections-background-color);
}

.section__for-sections-get-in-touch {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    display: grid;
    grid-template-columns: 3fr 1.5fr;
    height: 100%;
}

.section__for-sections-get-in-touch-with-number-title-subtitle-text-and-text-with-svg {
    max-width: 760px;
    height: 100%;
}

.section__with-number-numb {
    color: var(--section__with-number-numb-color);
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2.4px;
    line-height: 20px;
    font-family: 'Heebo', sans-serif;

}

.section__with-title-text {
    color: var(--section__with-title-text-color);
    font-size: 60px;
    font-weight: 700;
    font-family: 'Space Grotesk', sans-serif;
    letter-spacing: 1.2px;
    line-height: 72px;
    margin-top: 20px;

}

.section__with-subtitle-text {
    color: var(--section__with-subtitle-text-color);
    line-height: 28.5px;
    font-size: 19px;
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
    margin-top: 25px;

}

.section__with-text-text {
    color: var(--section__with-text-text-color);
    font-size: 17px;
    line-height: 25.5px;
    font-family: 'Heebo', sans-serif;
    margin-top: 25px;

}

.section__with-text-with-svg-but-its-arrow {
    color: var(--section__with-text-with-svg-but-its-arrow-color);
    font-size: 26px;
    letter-spacing: 0.52px;
    font-weight: 700;
    line-height: 32px;
    font-family: 'Space Grotesk', sans-serif;
    margin-top: 20px;
}

.section__for-sections-get-in-touch-contact-info {
    max-width: 400px;
    height: 100%;
    padding: 0 30px;
    margin-left: 15px;
}

.contact-info-title {
    color: var(--contact-info-title-color);
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2.4px;
    line-height: 20px;
    font-family: 'Heebo', sans-serif;
}

.contact-info-container-with-svg-and-text  {
    display: flex;
    align-items: center;
    height: 100px;
    padding: 7.5px 0;

}

.contact-info-another-container-with-svg-and-text {
    display: flex;
    align-items: center;
    height: 126px;
    padding: 7.5px 0;
}


.contact-info-container-with-svg {
    width: 50px;
    height: 50px;
    color: var(--contact-info-container-with-svg-color);
}

.contact-info-another-container-with-svg {
    width: 50px;
    height: 50px;
    color: var(--contact-info-container-with-svg-color);
}

.identical__contact-info-containers-with-text-title {
    color: var(--identical__contact-info-containers-with-text-title-color);
    font-weight: 600;
    font-size: 12px;
    font-family: 'Heebo', sans-serif;
    letter-spacing: 2.4px;
    line-height: 20px;
}

.identical__contact-info-containers-with-text-for-all {
    color: var(--identical__contact-info-containers-with-text-for-all-color);
    line-height: 25px;
    font-size: 17px;
    font-family: 'Heebo', sans-serif;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.identical__contact-info-containers-with-text-for-all:hover {
    text-decoration: underline;
}

.svg-i-dont-see-it-but-under-section__for-sections-get-in-touch {
    max-width: 1200px;
    margin: 50px auto 0;
}



/* .section__last-where-more-links-icon-images-and-svg */

.section__last-where-more-links-icon-images-and-svg {
    max-height: 353px;
    background-color: var(--section__last-where-more-links-icon-images-and-svg-background-color);
}

.section__block-for-all-of-these {
    max-width: 1200px;
    height: 100%;
    padding: 45px 15px 65px;
    display: flex;
    margin: 0 auto;
}

.section__with-main-icon-text-and-svg {
    max-width: 404px;
    padding: 0 20px;
    height: 100%;

}

.section__with-main-icon-item {
    width: 100%;
    height: 33px;
}

.section__with-main-icon-item-img {
    height: 33px;
    width: 157px;
}

.section__with-text-item {
    color: var(--section__with-text-item-color);
    font-size: 15px;
    line-height: 21px;
    font-family: 'Heebo', sans-serif;
    margin-top: 30px;
}


.section__with-svg-items {
    width: 100%;
    height: 28px;
    display: flex;
    margin-top: 59px;
    gap: 15px;
}


.section__with-svg-items-svg {
    width: 28px;
    height: 28px;
}

.section__navigation-svg-and-links {
    max-width: 201px;
    padding: 0 20px;
}

.navigation-text-item {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2.4px;
    line-height: 20px;
    font-family: 'Heebo', sans-serif;
    color: var(--navigation-text-item-color);
}

.simply-links-items {
    color: var(--simply-links-items-color);
    font-size: 15px;
    font-weight: 500;
    font-family: 'Heebo', sans-serif;
    margin-bottom: 20px;
}

.simply-links-items:last-child {
    margin-bottom: 0;
}


.section__support-svg-and-links {
    max-width: 201px;
    padding: 0 20px;
}

.support-text-item {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2.4px;
    line-height: 20px;
    font-family: 'Heebo', sans-serif;
    color: var(--navigation-text-item-color);
}

.section__follow-me-with-text-and-images {
    max-width: 404px;
    padding: 0 20px;
    height: 100%;
}

.follow-me-text-item {
    color: var(--follow-me-text-item-color);
    letter-spacing: 2.4px;
    line-height: 20px;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Heebo', sans-serif;
}

.follow-me-with-images-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
    margin-top: 20px;
}

.identical-images-items {
    width: 80px;
    height: 79px;
}

.svg-item-line-under-section__last-where-more-links-icon-images-and-svg {
    max-width: 1200px;
    margin: 0 auto;

}


/* section__last-block-in-footer */

.section__last-block-in-footer {
    height: 72px;
    background-color: var(--section__last-block-in-footer-background-color);
}

.last-block-in-footer-container {
    height: 72px;
    padding: 20px 15px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.last-block-in-footer-container-text {
    color: var(--last-block-in-footer-container-text-color);
    font-size: 15px;
    line-height: 21px;
    font-family: 'Heebo', sans-serif;

}

.last-block-in-footer-container-another-text {
    color: var(--last-block-in-footer-container-another-text-color);
    font-size: 15px;
    line-height: 21px;
    font-family: 'Heebo', sans-serif;
}