@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;
    --header__section-top-backg-color: #141619;
    --section-top-contacts-color-text: rgb(246, 246, 246);
    --nav-list-items-color: rgba(20, 22, 25, 0.78);
    --nav-list-items-hover:  rgb(10, 10, 15);
    --main-block-title-color: rgb(255, 255, 255);
    --main-block-subtitle-color: rgb(186, 186, 186);
    --main-for-blocks-block-full-background:  rgb(20, 22, 25);
    --block-full-btn-wh-color: rgb(255, 255, 255);
    --block-full-btn-bl-color: #141619;
    --btn-wh-text-bl-color: rgb(10, 10, 15);
    --btn-bl-text-wh-color: rgb(238, 238, 238);
    --section__main-black-background-color: #141619;
    --background-block-text-number: rgb(238, 238, 238);
    --black-background-block-text-title-color: rgb(255, 255, 255);
    --black-background-block-text-subtitle-color: rgb(186, 186, 186);
    --black-background-block-text-subsubtitle-color: rgb(139, 139, 139);
    --block-text-links-color: rgb(255, 255, 255);
    --btn-black-block-text: rgb(255, 255, 255);
    --block-full-btn-wh-hover:  rgb(238, 238, 238);
    --block-full-btn-bl-hover:  rgb(10, 10, 15);
    --nav-list-items-hover-after: #141619;
    --section-nav-web-icons-border-color: #141619;
    --nav-web-icons-border: #141619;
    --nav-web-icons-background-color: rgb(255, 255, 255);
    --nav-web-icons-background-color-hover: #141619;
    --nav-web-icons-color: #141619;
    --nav-web-icons-color-hover: rgb(255, 255, 255);
    --section__more-h2-underline-background-color: #0a0a0f;
    --more-h2-underline-number-color:  rgb(238, 238, 238);
    --underline-block-links-color:  rgb(255, 255, 255);
    --more-h2-underline-btn-block-background-color: rgba(255, 255, 255);
    --btn-block-text-color :rgb(10, 10, 15);
    --more-h2-underline-btn-block-border: rgba(255, 255, 255);
    --underline-block-links-hover: rgb(103, 103, 103);
    --section__for-img-background-color: rgb(10, 10, 15);
    --section__container-text-numbers-background-color: #0a0a0f;
    --numbers-info-color: rgb(255, 255, 255);
    --text-info-color: rgb(238, 238, 238);
    --section__grey-text-background-color: #0a0a0f;
    --grey-text-info-color: rgba(255, 255, 255, 0.17);
    --section__white-container-background-color:  #f6f6f6;
    --container__with-number-color: rgb(60, 62, 66);
    --container__with-h2-color: rgb(10, 10, 15);
    --container__with-text-color: rgb(60, 62, 66);
    --container__with-text-subtitle-color: rgb(124, 124, 124);
    --container__with-text-subtitle-div-color: rgb(20, 22, 25);
    --container-carousel-text-background-color: #141619;
    --text-block-title-and-subtitle-color: rgb(255, 255, 255);
    --text-block-title-and-subtitle-div-color:  rgb(164, 164, 164);
    --learn-more-svg-color: rgb(255, 255, 255);
    --text-block-link-learn-more-color: rgb(255, 255, 255);
    --half-text-number-color: rgb(60, 62, 66);
    --half-text-title-color: rgb(10, 10, 15);
    --half-text-subtitle-color: rgb(60, 62, 66);
    --identical__container-number-block-color: rgb(255, 255, 255);
    --identical__container-number-block-background-color: rgb(20, 22, 25);
    --identical__container-text-title-color: rgb(10, 10, 15);
    --identical__container-text-subtitle-color: rgb(124, 124, 124);
    --section__half-image-half-text-background-color: #eeeeee;
    --section__container-black-chief-background-color: #0a0a0f;
    --section__with-number-color: rgb(238, 238, 238);
    --section__with-title-color: rgb(255, 255, 255);
    --section__with-subtitle-color: rgb(186, 186, 186);
    --same-container-with-title-color: rgb(255, 255, 255);
    --same-container-with-subtitle-color: rgb(139, 139, 139);
    --container-with-svg-background-color: rgb(246, 246, 246);
    --container-with-text__title-color: rgb(238, 238, 238);
    --container-with-text__subtitle-color: rgb(255, 255, 255);
    --section__background-white-with-section-for-all-background-color: #ffffff;
    --with-number-container-color: rgb(60, 62, 66);
    --with-title-container-color: rgb(10, 10, 15);
    --with-subtitle-container-color: rgb(60, 62, 66);
    --similar-container-with-text-color: rgb(124, 124, 124);
    --similar-container-with-subtitle-color: rgb(60, 62, 66);
    --similar-container-with-fullname-color: rgb(10, 10, 15);
    --section-half-fot-text-with-number-color: rgb(60, 62, 66);
    --section-half-fot-text-with-title-color: rgb(10, 10, 15);
    --section-half-fot-text-with-subtitle-color: rgb(60, 62, 66);
    --section-half-fot-text-with-text-color: rgb(124, 124, 124);
    --alike-container-with-text-color: rgb(60, 62, 66);
    --section-half-fot-text-with-text-under-containers-color: rgb(124, 124, 124);
    --section__with-another-sections-with-text-and-image-background-color: #eeeeee;
    --section-half-fot-text-with-button-button-border: #141619;
    --section-half-fot-text-with-button-button-background-color: #141619;
    --section-half-fot-text-with-button-button-color: rgb(255, 255, 255);
    --section-half-fot-text-with-button-button-hover: #eeeeee;
    --section-half-fot-text-with-button-button-hover-color: #141619;
    --section__name-latest-articles-with-sections-background-color: #141619;
    --section-who-have-only-text-number-color: rgb(255, 255, 255);
    --section-who-have-only-text-title-color: rgb(255, 255, 255);
    --section-who-have-only-text-subtitle-color: rgb(186, 186, 186);
    --equivalent-section-who-have-title-color: rgb(255, 255, 255);
    --equivalent-section-who-have-text-color: rgb(139, 139, 139);
    --equivalent-section-who-have-btn-button-border: #ffffff;
    --equivalent-section-who-have-btn-button-bacground: #ffffff;
    --equivalent-section-who-have-btn-button-color: rgb(10, 10, 15);
    --equivalent-section-who-have-btn-button-hover-color: rgb(255, 255, 255);
    --equivalent-section-who-have-btn-button-hover-background: rgb(10, 10, 15);
    --section__follow-me-and-get-background-color: #141619;
    --follow-me-and-get-container-with-title-color: rgb(255, 255, 255);
    --follow-me-and-get-container-with-subtitle-color: rgb(186, 186, 186);
    --container-with-sample-link-color: rgb(255, 255, 255);
    --section__09-get-in-touch-with-me-with-another-sections-background-color: #0a0a0f;
    --section__with-number-numb-color: rgb(238, 238, 238);
    --section__with-title-text-color: rgb(255, 255, 255);
    --section__with-subtitle-text-color: rgb(186, 186, 186);
    --section__with-text-text-color: rgb(139, 139, 139);
    --section__with-text-with-svg-but-its-arrow-color: rgb(255, 255, 255);
    --identical__contact-info-containers-with-text-for-all-color: rgb(139, 139, 139);
    --identical__contact-info-containers-with-text-title-color: rgb(238, 238, 238);
    --contact-info-container-with-svg-color: rgb(255, 255, 255);
    --contact-info-title-color: rgb(238, 238, 238);
    --section__last-where-more-links-icon-images-and-svg-background-color: #0a0a0f;
    --section__with-text-item-color: rgb(139, 139, 139);
    --navigation-text-item-color: rgb(255, 255, 255);
    --simply-links-items-color: rgb(139, 139, 139);
    --follow-me-text-item-color: rgb(255, 255, 255);
    --section__last-block-in-footer-background-color: #0a0a0f;
    --last-block-in-footer-container-text-color: rgb(139, 139, 139);
    --last-block-in-footer-container-another-text-color: rgb(139, 139, 139);
    --nav-btn-btn-color: rgb(20 22 25);
    --section__hidden-block-for-section-nav-btn-background-color: #ffffff;
    --section__hidden-block-for-section-nav-btn-items-color: rgba(20, 22, 25, 0.78);
    --text-on-img-color: rgb(255, 255, 255);
    --section__grey-text-background-color: #141619;
    --nav-web-icons-in-footer: #141619;
    --nav-web-icons-in-footer-hover: #232529;
    --simply-links-items-hover: rgb(255, 255, 255);
    --text-inside-second-text: rgba(255, 255, 255, 0.77);
    --text-inside-first: rgb(255, 255, 255);
}

img {
    display: block;
    width: 100%;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}