.header {
    max-height: 170px;
    max-width: 100%;
}

.header__section-top {
    background-color: var(--header__section-top-backg-color);
    height: 52px;

}

.section-top-contacts {
    color: var(--section-top-contacts-color-text);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    height: 100%;
    font-weight: 400;
    font-size: 15px;
    font-family: 'Heebo', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
}

.header__section-nav {
    max-height: 115px;
    padding: 20px 15px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
    gap: 205px;
}

.section-nav-logo {
    height: 30px;
    width: 130px;
}

.nav-logo-img {
    width: 130px;
    height: 30px;
}

.section-nav-list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-list {
    margin: 0 20px;
    width: 100%;
}

.nav-list-items {
    color: var(--nav-list-items-color);
    font-family: 'Heebo', sans-serif;
    font-size: 15px;
    font-weight: 600;
    position: relative;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.nav-list-items:hover {
    color: var(--nav-list-items-hover);
}

.nav-list-items::before {
    height: 2px;
    content: "";
    position: absolute;
    width: 100%;
    background-color: var(--nav-list-items-hover-after);
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.3s ease-in-out;
}

.nav-list-items:hover::before {
    color: var(--nav-list-items-hover);
    transform: scaleX(1);
}

.section-nav-web-icons {
    display: flex;
    gap: 15px;
}

.nav-web-icons {
    height: 30px;
    width: 30px;
    border: 1px solid var(--nav-web-icons-border);
    background-color: var(--nav-web-icons-background-color);
    transition: all 0.3s ease-in-out;
    color: var(--nav-web-icons-color);
}

.nav-web-icons:hover {
    background-color: var(--nav-web-icons-background-color-hover);
    color: var(--nav-web-icons-color-hover);
}